# Ignore Maven build output
**/target/
*.class

# Ignore the JavaFX SDK (since it's an external library)
openjfx-25.0.2/
id_ed25520*
financeforge/target/
out/
financeforge/out/
financeforge/bin/
*.class

# Ignore IDE specific files
.idea/
.vscode/
*.iml